
<ion-content padding>
    <ion-card>
        <ion-grid>

            <ion-card-header >
                <ion-label>
                    <ion-text style="font-size: 2rem">How much will you rate the trip? (The route itself)</ion-text>

                </ion-label>
            <rating style="font-size: 2rem; float:right" [(rating)]="event_rating"></rating>
            </ion-card-header>
            <ion-row>
                <ion-col size="2">
                    <app-route-image [imgPath]="routeUrl+'_Medium'" sizeToLoad="Medium" width="150" height="100"
                                     [number]="0"></app-route-image>
                </ion-col>
                <ion-col>
                    <ion-input [(ngModel)]="event_comment" style="font-size: 1rem" type = 'text' placeholder="please leave a comment about your experience"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card  *ngIf="isGuided">
        <ion-grid>

            <ion-card-header >
                <ion-label>
                    <ion-text style="font-size: 2rem">How much will you rate {{guideName}}?</ion-text>

                </ion-label>
                <rating style="font-size: 2rem; float:right" [(rating)]="guide_rating"></rating>
            </ion-card-header>
            <ion-row>
                <ion-col size="2">
                    <ion-img [src]="guide_image"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-input [(ngModel)]="guide_comment" style="font-size: 1rem" type = 'text' placeholder="please leave a comment about your experience"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>



    <ion-card  *ngFor="let participant of participants_names;let i = index" [attr.data-index]="i">
        <ion-grid>

            <ion-card-header >
                <ion-label>
                    <ion-text style="font-size: 2rem">How much fun did you had with {{participant}}??</ion-text>

                </ion-label>
                <rating style="font-size: 2rem; float:right" [(rating)]="participants_rating[i]"></rating>
            </ion-card-header>
            <ion-row>
                <ion-col size="2">
                    <ion-img [src]="participants_imgs[i]"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-input [(ngModel)]="participants_comments[i]" style="font-size: 1rem" type = 'text' placeholder="please leave a comment about your experience"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-button id='close' (click)="onClose()">Submit Rating</ion-button>

</ion-content>
