<ion-header>
  <ion-toolbar padding-horizontal>
    <ion-label style="font-size: 3em;">
      Choose Trip
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
  <ion-toolbar padding-horizontal>
    <ion-searchbar slot="secondary"></ion-searchbar>
    <!--https://javebratt.com/searchbar-firebase/-->
    <ion-buttons slot="end">
    <ion-label slot="primary"> Or </ion-label>
    <ion-button color="primary" fill="solid">
      Create a new Trip
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-item>
  <ion-list>
    <ion-item>
      <ion-img src="/assets/images/event1.jpg" item-start></ion-img>
      <ion-label><h2> Azgad </h2></ion-label>
      <ion-label item-end><h3> some more info </h3></ion-label>
    </ion-item >
    <ion-item>
      <ion-img src="/assets/images/event1.jpg" item-start></ion-img>
      <ion-label><h2> Azgad </h2></ion-label>
      <ion-label item-end><h3> some more info </h3></ion-label>
    </ion-item >
    <ion-item>
      <ion-img src="/assets/images/event1.jpg" item-start></ion-img>
      <ion-label><h2> Azgad </h2></ion-label>
      <ion-label item-end><h3> some more info </h3></ion-label>
    </ion-item >
    <ion-item>
      <ion-img src="/assets/images/event1.jpg" item-start></ion-img>
      <ion-label><h2> Azgad </h2></ion-label>
      <ion-label item-end><h3> some more info </h3></ion-label>
    </ion-item >
  </ion-list>
</ion-content>
