<ion-header>
    <app-toolbar defaultBack="home" title="View Profile"></app-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label stacked>email: {{email}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>First Name: {{firstName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Last Name: {{lastName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Birth Date: {{birthDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Phone Number: {{phone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gender: {{gender_string}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>Guide: {{isGuide}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label stacked>About: {{about}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Trips level: {{tripDifficulties}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Trips Duration: {{tripDurations}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>People type: {{audienceTypes}} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total Rating: {{avgRating}} by {{numOfRaters}} traveler(s) </ion-label>
    </ion-item>
    <ion-button id='showReview' (click)="onShow()">show all reviews</ion-button>
</ion-content>
