<ion-header>
  <ion-toolbar>
    <ion-title>Join Event name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>My phone number</ion-label>
    <ion-input>(default is phone from my account)</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Equipment I’ll bring: (free text) </ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>I will bring a car?</ion-label>
    <ion-input> Y/N</ion-input>
  </ion-item>
  <ion-item>
    <ion-label>How many free places you have in your car?</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Message for others (free text)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button (click)="closeModal()">Join</ion-button>

</ion-content>
