<ion-header>
  <ion-toolbar>
    <ion-title>CreateRoute</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createRouteForm" (submit)="createRoute()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid
    && signupForm.controls.email.touched">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  &&
    signupForm.controls.password.touched">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <!--TODO from here only html-->
    <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="name" type="text" placeholder="Your name">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Birth date</ion-label>
      <ion-datetime displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Phone number</ion-label>
      <ion-input formControlName="phone" type="tel" placeholder="Your phone number">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Guide</ion-label>
      <ion-checkbox formControlName="guide" color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label stacked>About myself</ion-label>
      <ion-input formControlName="about" type="text" placeholder="Your about">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Trips level</ion-label>
      <ion-select multiple="true">
        <ion-select-option value="extreme">Extreme</ion-select-option>
        <ion-select-option value="advanced">Advanced</ion-select-option>
        <ion-select-option value="average" selected>Average</ion-select-option>
        <ion-select-option value="easy">Easy</ion-select-option>
        <ion-select-option value="picnic">Picnic</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Trips Duration</ion-label>
      <ion-select multiple="true">
        <ion-select-option value="fewDays">Few days</ion-select-option>
        <ion-select-option value="campHike">Camp+hike</ion-select-option>
        <ion-select-option value="fullDay" selected>Full day</ion-select-option>
        <ion-select-option value="fewHours">Few hours</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>People type </ion-label>
      <ion-select multiple="true">
        <ion-select-option value="singles" selected>Singles</ion-select-option>
        <ion-select-option value="couples" selected>Couples</ion-select-option>
        <ion-select-option value="withKids" >With kids</ion-select-option>
        <ion-select-option value="LGBT" >LGBT</ion-select-option>
        <ion-select-option value="elderlies" >Elderlies</ion-select-option>
      </ion-select>
    </ion-item>







    <ion-button block type="submit">
      Create
    </ion-button>
  </form>
</ion-content>
