<ion-header>
  <ion-toolbar> <ion-title>Create Route</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="singleRouteForm" (submit)="updateRoute()" novalidate>
    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.name.valid"
        color="danger"
        stacked
        >*</ion-label
      >
      <ion-label stacked>Route name</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        placeholder="route name"
        [class.invalid]="!singleRouteForm.controls.name.valid && blur"
      >
      </ion-input>
    </ion-item>
    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.name.valid &&
        singleRouteForm.controls.name.touched
      "
    >
      <p>Please enter route name</p>
    </ion-item>

    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.creatorName.valid"
        color="danger"
        stacked
        >*</ion-label
      >
      <ion-label stacked>Your name</ion-label>
      <ion-input
        formControlName="creatorName"
        type="text"
        placeholder="Your name"
        class="error-message"
        [ngClass]="{
          'is-invalid': singleRouteForm.controls.creatorName.errors
        }"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.shortDescription.valid"
        color="danger"
        stacked
        >*</ion-label
      >
      <ion-label stacked>Short description</ion-label>
      <ion-input
        formControlName="shortDescription"
        type="text"
        placeholder="Short description"
        [class.invalid]="
          !singleRouteForm.controls.shortDescription.valid && blur
        "
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.tripName.valid"
        color="danger"
        stacked
        >*</ion-label
      >
      <ion-label stacked>Your phone number</ion-label>
      <ion-input
        formControlName="phoneNumber"
        type="number"
        placeholder="Your phone number"
        [class.invalid]="!singleRouteForm.controls.phoneNumber.valid && blur"
      >
      </ion-input>
    </ion-item>

    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.phoneNumber.valid &&
        singleRouteForm.controls.phoneNumber.touched
      "
    >
      <p>Please enter your phone number</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Are you a guide?</ion-label>
      <ion-checkbox
        formControlName="isGuide"
        color="primary"
        checked="false"
      ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label stacked>Route price</ion-label>
      <ion-input
        formControlName="tripPrice"
        type="number"
        placeholder="Route price"
        [class.invalid]="!singleRouteForm.controls.tripPrice.valid && blur"
      >
      </ion-input>
    </ion-item>

    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.tripPrice.valid &&
        singleRouteForm.controls.tripPrice.touched
      "
    >
    </ion-item>

    <ion-item>
      <ion-label stacked>Entrance fee</ion-label>
      <ion-input
        formControlName="fee"
        type="number"
        placeholder="Entrance fee"
        [class.invalid]="!singleRouteForm.controls.fee.valid && blur"
      >
      </ion-input>
    </ion-item>

    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.tripPrice.valid &&
        singleRouteForm.controls.tripPrice.touched
      "
    >
    </ion-item>

    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.startLocation.valid"
        color="danger"
        stacked
        >*</ion-label
      >
      <ion-label stacked>Start location</ion-label>
      <ion-input
        formControlName="startLocation"
        type="startLocation"
        placeholder="Start location"
        [class.invalid]="!singleRouteForm.controls.startLocation.valid && blur"
      >
      </ion-input>
    </ion-item>

    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.startLocation.valid &&
        singleRouteForm.controls.startLocation.touched
      "
    >
    </ion-item>

    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.startLocation.valid"
        color="danger"
        stacked
        >*</ion-label
      >
      <ion-label stacked>End location</ion-label>
      <ion-input
        formControlName="endLocation"
        type="text"
        placeholder="End location"
        [class.invalid]="!singleRouteForm.controls.endLocation.valid && blur"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="3" align-self-start>
            <ion-img
              src="/assets/images/googlemaps.jpg"
              class="eventImg"
            ></ion-img>
          </ion-col>
          <ion-label> Click to add route location from Google Maps </ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label stacked>Upload photos</ion-label>
      <ion-input
        formControlName="photos"
        type="file"
        accept="image/*"
        (ionChange)="onFileSelected($event)"
        placeholder="upload photos"
      >
      </ion-input>
      <button type="button" (click)="onUpload()">Upload</button>

    </ion-item>


    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.startLocation.valid &&
        singleRouteForm.controls.startLocation.touched
      "
    >
    </ion-item>

    <ion-item
      class="error-message"
      *ngIf="
        !singleRouteForm.controls.endLocation.valid &&
        singleRouteForm.controls.endLocation.touched
      "
    >
    </ion-item>

    <ion-item>
      <ion-label>Recommended months</ion-label>
      <ion-select formControlName="recMonths" multiple="true">
        <ion-select-option value="jan">January</ion-select-option>
        <ion-select-option value="feb">February</ion-select-option>
        <ion-select-option value="mar">March</ion-select-option>
        <ion-select-option value="apr">April</ion-select-option>
        <ion-select-option value="may">May</ion-select-option>
        <ion-select-option value="jun">June</ion-select-option>
        <ion-select-option value="jul">July</ion-select-option>
        <ion-select-option value="aug">August</ion-select-option>
        <ion-select-option value="sep">September</ion-select-option>
        <ion-select-option value="oct">October</ion-select-option>
        <ion-select-option value="nov">Novemeber</ion-select-option>
        <ion-select-option value="dec">December</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Long description</ion-label>
      <ion-input
        formControlName="longDescription"
        type="longDescription"
        placeholder="Long description"
        [class.invalid]="
          !singleRouteForm.controls.longDescription.valid && blur
        "
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        *ngIf="!singleRouteForm.controls.tripLevel.valid"
        color="danger"
        stacked
        >*</ion-label
      >

      <ion-label>Route level</ion-label>
      <ion-select formControlName="tripLevel" multiple="false">
        <ion-select-option value="extreme">Extreme</ion-select-option>
        <ion-select-option value="advanced">Advanced</ion-select-option>
        <ion-select-option value="average" selected>Average</ion-select-option>
        <ion-select-option value="easy">Easy</ion-select-option>
        <ion-select-option value="picnic">Picnic</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Properties</ion-label>
      <ion-select formControlName="properties" multiple="true">
        <ion-select-option value="water">Water</ion-select-option>
        <ion-select-option value="swimming">Swimming</ion-select-option>
        <ion-select-option value="mountains" selected
          >Mountains</ion-select-option
        >
        <ion-select-option value="bicycles">Bicycles</ion-select-option>
        <ion-select-option value="forest">Forest</ion-select-option>
        <ion-select-option value="desert">Desert</ion-select-option>
        <ion-select-option value="oasis">Oasis</ion-select-option>
        <ion-select-option value="historical">Historical</ion-select-option>
        <ion-select-option value="archeology">Archeology</ion-select-option>
        <ion-select-option value="ropes">Ropes</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button block type="submit"> Create </ion-button>
  </form>
</ion-content>
