<ion-content padding>
    <!--
    lengthKM
    routeRanking
    routeDifficulty
    routeDuration
    routeProperties
    price
    recommendedMonths
    -->


    <form [formGroup]="filterForm" novalidate>
        <ion-radio-group allowEmptySelection="true">
        <ion-item>
            <ion-radio id="0" (ionSelect)="check(0)" [checked]="checkedid===0" >
            </ion-radio>
            <ion-label stacked>Length (Km) From:</ion-label>
            <ion-input [disabled]="checkedid!==0"
                       formControlName="lengthKMFrom"
                       type="number">
            </ion-input>
            <ion-label stacked>To:</ion-label>
            <ion-input [disabled]="checkedid!==0"
                       formControlName="lengthKMTo"
                       type="number">
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-radio id="1" (ionSelect)="check(1)" [checked]="checkedid===1">
            </ion-radio>
            <ion-label stacked>Duration From:</ion-label>
            <ion-input [disabled]="checkedid!==1"
                       formControlName="routeDurationFrom"
                       placeholder="0"
                       type="number"
                       min="1"
                       step="1"
                       side="left"
            ></ion-input>
            <ion-label stacked> To: </ion-label>
            <ion-input [disabled]="checkedid!==1"
                       formControlName="routeDurationTo"
                       type="number"
                       placeholder="99999"
                       min="0"
                       step="1"
                       side="left"
            ></ion-input>
            <ion-label stacked>Hours</ion-label>
        </ion-item>

        <ion-item>
            <ion-radio id="2" (ionSelect)="check(2)" [checked]="checkedid===2">

            </ion-radio>
            <ion-label>Difficulty From:</ion-label>
            <ion-select formControlName="routeDifficultyFrom" multiple="false" [disabled]="checkedid!==2">
                <ion-select-option value="0">Very easy</ion-select-option>
                <ion-select-option value="1">Easy</ion-select-option>
                <ion-select-option value="2">Moderate</ion-select-option>
                <ion-select-option value="3">Challenging</ion-select-option>
                <ion-select-option value="4">Extreme</ion-select-option>
                <ion-select-option value="5">Very extreme</ion-select-option>
            </ion-select>
            <ion-label> To: </ion-label>
            <ion-select formControlName="routeDifficultyTo" multiple="false" [disabled]="checkedid!==2">
                <ion-select-option value="0">Very easy</ion-select-option>
                <ion-select-option value="1">Easy</ion-select-option>
                <ion-select-option value="2">Moderate</ion-select-option>
                <ion-select-option value="3">Challenging</ion-select-option>
                <ion-select-option value="4">Extreme</ion-select-option>
                <ion-select-option value="5">Very extreme</ion-select-option>
            </ion-select>
        </ion-item>
        </ion-radio-group>

        <ion-item>
            <!--<ion-checkbox id="3" (ionChange)="check(3)">-->
            <!--</ion-checkbox>-->
            <ion-label stacked>Country:</ion-label>
            <ion-input formControlName="country"
                       type="string">
            </ion-input>
            <ion-label stacked>State:</ion-label>
            <ion-input formControlName="state"
                       type="string">
            </ion-input>
        </ion-item>

        <!--ion-item>
<ion-label>Route Properties</ion-label>
<ion-select formControlName="routeProperties" multiple="true">
    <ion-select-option value="water">Water</ion-select-option>
    <ion-select-option value="swimming">Swimming</ion-select-option>
    <ion-select-option value="mountains" selected>Mountains</ion-select-option>
    <ion-select-option value="bicycles">Bicycles</ion-select-option>
    <ion-select-option value="forest">Forest</ion-select-option>
    <ion-select-option value="desert">Desert</ion-select-option>
    <ion-select-option value="oasis">Oasis</ion-select-option>
    <ion-select-option value="historical">Historical</ion-select-option>
    <ion-select-option value="archeology">Archeology</ion-select-option>
    <ion-select-option value="ropes">Ropes</ion-select-option>
</ion-select>
</ion-item-->

        <!--ion-item>
            <ion-label>Recommended months</ion-label>
            <ion-select formControlName="recommendedMonths" multiple="true">
                <ion-select-option value="1">January</ion-select-option>
                <ion-select-option value="2">February</ion-select-option>
                <ion-select-option value="3">March</ion-select-option>
                <ion-select-option value="4">April</ion-select-option>
                <ion-select-option value="5">May</ion-select-option>
                <ion-select-option value="6">June</ion-select-option>
                <ion-select-option value="7">July</ion-select-option>
                <ion-select-option value="8">August</ion-select-option>
                <ion-select-option value="9">September</ion-select-option>
                <ion-select-option value="10">October</ion-select-option>
                <ion-select-option value="11">Novemeber</ion-select-option>
                <ion-select-option value="12">December</ion-select-option>
            </ion-select>
        </ion-item-->
    </form>


    <ion-button (click)="go()">Filter</ion-button>
</ion-content>
