<ion-header>
  <ion-toolbar padding-horizontal>
    <ion-label style="font-size: 3em;">
      OutSurfing
    </ion-label>
    <ion-button style="float: right;">
      Create a new event
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar><!-- add filter https://www.joshmorony.com/high-performance-list-filtering-in-ionic-2/-->
  <ion-grid wrap>
    <ion-row>
      <ion-col>
        <ion-card class="event" >
          <ion-img src="/assets/event1.jpg" class="eventImg"></ion-img>
          <ion-card-header>
            <ion-card-title style="font-size: 3em;">Event #1</ion-card-title>
            <!--need to be added from JS-->
          </ion-card-header>
          <ion-card-content>
            <ion-grid padding wrap>
              <ion-row>
                <ion-col class="col" size="auto">
                  <div class="eventData">Meeting Location and Distance</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Starting Date and duration</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">isOrginizer</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Short description</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Score</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Organizer score</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Level</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Type</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Event audience</div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="event" >
          <ion-img src="/assets/event1.jpg" class="eventImg"></ion-img>
          <ion-card-header>
            <ion-card-title style="font-size: 3em;">Event #2</ion-card-title>
            <!--need to be added from JS-->
          </ion-card-header>
          <ion-card-content>
            <ion-grid padding wrap>
              <ion-row>
                <ion-col class="col" size="auto">
                  <div class="eventData">Meeting Location and Distance</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Starting Date and duration</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">isOrginizer</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Short description</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Score</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Organizer score</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Level</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Type</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Event audience</div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="event" >
          <ion-img src="/assets/event1.jpg" class="eventImg"></ion-img>
          <ion-card-header>
            <ion-card-title style="font-size: 3em;">Event #3</ion-card-title>
            <!--need to be added from JS-->
          </ion-card-header>
          <ion-card-content>
            <ion-grid padding wrap>
              <ion-row>
                <ion-col class="col" size="auto">
                  <div class="eventData">Meeting Location and Distance</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Starting Date and duration</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">isOrginizer</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Short description</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Score</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Organizer score</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Level</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Trip Type</div>
                </ion-col>
                <ion-col class="col" size="auto">
                  <div class="eventData">Event audience</div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- add filter https://www.joshmorony.com/high-performance-list-filtering-in-ionic-2/-->
</ion-content>
