<ion-header>
  <ion-toolbar padding-horizontal>
    <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-label style="font-size: 2em;" slot="start">
      OutSurfing - Choose a Route
    </ion-label>
    <ion-label slot="start" padding-horizontal>
      <ion-searchbar></ion-searchbar>
    </ion-label>
    <ion-label slot="start" style="font-size: 1.5em;">
      <ion-icon name="funnel"></ion-icon>
      Filter
    </ion-label>

    <ion-buttons slot="end" color="primary">
      <ion-button
        style="float: right;"
        slot="end"
        color="primary"
        fill="solid"
        shape="round"
        (click)="createNew()"
      >
        Create a new route
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--
    add filter https://www.joshmorony.com/high-performance-list-filtering-in-ionic-2/
  -->
  <ion-card
    *ngFor="let route of (this.page.data | async); let i = index"
    [attr.data-index]="i"
    class="route"
  >
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <!--
            <ion-img
              src="/assets/images/zeelim_zfira.jpg"
              class="eventImg"
            ></ion-img>
          -->
            <app-route-image imgPath="{{routeImageUrl(route)}}"></app-route-image>
        </ion-col>
        <ion-col size="8">
          <ion-card-header no-padding>
            <ion-card-title style="font-size: 2em;">
              <ion-row justify-content-between style="align-items: center;">
                <ion-col size="8">
                  <!--
                    <ion-icon name="calendar"></ion-icon> terrain local_florist map
                  -->
                  <i class="material-icons"> {{ route.iconName }} </i>
                  <ion-text style="font-size: 0.5em;">Trip Route</ion-text>
                  {{ route.name }}
                </ion-col>
                <ion-col size="2">
                  <ion-button
                    color="success"
                    shape="round"
                    fill="solid"
                    float-right
                    (click)="eventIt(route.doc.id)"
                    >Event It
                  </ion-button>
                </ion-col>
                <ion-col size="2">
                  <ion-button
                    shape="round"
                    fill="outline"
                    float-right
                    (click)="goToRoute(route.doc.id)"
                    >Details</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-label padding-end
                >Duration: {{ route.routeDuration }} days</ion-label
              >
              <ion-label padding-end>Distance to route: 70km TODO</ion-label>
              <ion-label>Seasons: {{ route.seasons }}</ion-label>
            </ion-card-subtitle>
            <ion-card-subtitle>
              <ion-label> Type: {{ route.routeProperties }} </ion-label>
            </ion-card-subtitle>

            <!-- need to be added from JS -->
          </ion-card-header>
          <!-- <ion-card-content> -->
          <ion-grid wrap>
            <ion-row>
              <ion-col size="4">
                <ion-item>
                  Route Rating: {{ route.routeRanking }} ({{
                    route.routeNumOfRankers
                  }}
                  <ion-icon name="contact"></ion-icon>
                  )
                </ion-item>
                <ion-item> Level: {{ route.routeDifficulty }} </ion-item>
                <ion-item>
                  Donated by Guide: {{ route.routeCreator }}
                  <!-- or 'by Traveller -->
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item>
                  Optional Guidance for {{ route.offeredPrice }}
                  <ion-icon name="contact" style="font-size: 1em;"></ion-icon>
                </ion-item>
                <ion-row>
                  <ion-col size="3">
                    <ion-img src="/assets/images/haham.jpg"></ion-img>
                  </ion-col>
                  <ion-col size="9">
                    <ion-item>
                      TODO Guide Rating: 8 (544
                      <ion-icon name="contact"></ion-icon>
                      )
                    </ion-item>
                    <ion-item>
                      TODO Traveler Rating: 2 (12
                      <ion-icon name="contact"></ion-icon>
                      )
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="4">
                <ion-item>
                  <ion-label>
                    {{ route.minGroupSizeForGuide }}
                    <ion-icon name="contact" style="font-size: 1em;"></ion-icon>
                  </ion-label>
                </ion-item>

                <ion-item>
                  <ion-icon name="log-in">Arrival</ion-icon>
                  {{ route.guideContactDetails }}
                </ion-item>
                <!-- <ion-item> email tomer@gmail.com </ion-item> -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  (Short) Description: {{ route.shortDescription }}
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item> Equipment: {{ route.requiredEquipment }} </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- </ion-card-content> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-infinite-scroll id="infinite-scroll" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <br /><br /><br /><br />

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button> <ion-icon name="arrow-dropup"></ion-icon> </ion-fab-button>
  </ion-fab>
  <!--
    add filter https://www.joshmorony.com/high-performance-list-filtering-in-ionic-2/
  -->
</ion-content>
