<ion-header>
    <ion-toolbar>
        <ion-title>ParticipantApproval</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-grid style="width: 90%">
            <ion-row >
                <ion-col size="2">
                    Participant
                </ion-col>
                <ion-col size="2">
                    Contact
                </ion-col>
                <ion-col size="2">
                    Cars
                </ion-col>
                <ion-col size="2">
                    Ranking
                </ion-col>
                <ion-col size="2">
                    Equipment I bring
                    <!--{{(participantsObs.needSeatInCar && !participantsObs.userIdOfHostingCar) ? 'Need a ride': (participantsObs.needSeatInCar && participantsObs.userIdOfHostingCar)? 'with' + participantsObs.userIdOfHostingCar : participantsObs.offeringSeatsInCar? 'Offers ' + participantsObs.offeringSeatsInCar + ' free seats'}}-->
                </ion-col>
                <ion-col size="2">
                    Joining?
                    <!--{{(participantsObs.needSeatInCar && !participantsObs.userIdOfHostingCar) ? 'Need a ride': (participantsObs.needSeatInCar && participantsObs.userIdOfHostingCar)? 'with' + participantsObs.userIdOfHostingCar : participantsObs.offeringSeatsInCar? 'Offers ' + participantsObs.offeringSeatsInCar + ' free seats'}}-->
                </ion-col>
            </ion-row>
            <participants-lines
                    [eventObs]="eventObs"
                    [isApprovedLines]="true"
                    [isOrganizerMode]="true"
                    [event]="event"
                    [eventID]="eventID"
            ></participants-lines>
            <participants-lines
                    [eventObs]="eventObs"
                    [isApprovedLines]="false"
                    [isOrganizerMode]="true"
                    [event]="event"
                    [eventID]="eventID"
            ></participants-lines>
        </ion-grid>
    </ion-item>

    <ion-button id='close' (click)="onClose()">Close</ion-button>

</ion-content>
