<ion-header>
    <ion-toolbar>
        <ion-title>ParticipantApproval</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item *ngFor="let participant of this.participants | async">
            {{(participant.user|async)?.firstName}} {{(participant.user|async)?.lastName}}
            brings {{participant.groupEquipmentIBring}}
            <ion-button (click)="onApprove(participant.id)" *ngIf="participant.approved === false">Approve</ion-button>
            <ion-button (click)="onDisapprove(participant.id)" *ngIf="participant.approved === true">Disapprove</ion-button>
    </ion-item>

    <ion-button id='close' (click)="onClose()">Close</ion-button>

</ion-content>
