<ion-header>
    <app-toolbar defaultBack="home" title="Edit Event"></app-toolbar>
</ion-header>

<ion-content padding>
    <ion-row >
        <ion-col size="8">
            <form [formGroup]="singleEventForm" novalidate>
                <ion-item *ngIf="!viewMode" >
                    <ion-label
                            *ngIf="!singleEventForm.controls.name.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked>Trip name</ion-label>
                    <ion-input formControlName="name" type="text" placeholder="event name" class="kuku" [readonly]="viewMode">
                    </ion-input>
                </ion-item>
                <ion-item *ngIf="viewMode" >
                    <ion-label stacked>Trip name: {{event.name}}</ion-label>
                </ion-item>

                <ion-item *ngIf="joined && isApprovedForTrip && !isOrganizerOfTrip" >
                    <div style="background-color: #10dc60">
                        <ion-label>You are registered and approved for this trip :-)</ion-label>
                    </div>
                </ion-item>
                <ion-item *ngIf="joined && !isApprovedForTrip">
                    <div style="background-color: #ffd31a">
                        <ion-label >Your still pending for approval of the organizer of this trip</ion-label>
                    </div>
                </ion-item>
                <ion-item *ngIf="isOrganizerOfTrip">
                    <div style="background-color: fuchsia;">
                        <ion-label >Your are the organizer of this trip</ion-label>
                    </div>
                </ion-item>

                <ion-item>
                    <ion-button (click)="openOriginalRoute()">Open Original Route</ion-button>
                </ion-item>

                <ion-item>
                    <ion-label
                            *ngIf="!singleEventForm.controls.meetingLocation.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-button (click)="onPlusMeetingMap()" fill="clear">{{plusMeetingText}}</ion-button>
                    <ion-label stacked>Meeting location</ion-label>
                    <ion-input
                            formControlName="meetingLocation"
                            type="text"
                            [readonly]="viewMode"
                            placeholder="Meeting location is is the optional gathering for car-pooling and starting your
                            drive toward the route start"
                            [class.invalid]="
          !singleEventForm.controls.meetingLocation.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>

                <ion-item id="meetingGeo" hidden>
                    <ion-label
                            *ngIf="!singleEventForm.controls.meetingGeolocation?.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked slot="start">Meeting Geolocation</ion-label>
                    <ion-input
                            formControlName="meetingGeolocation"
                            type="text"
                            [readonly]="viewMode"
                            placeholder="Meeting geolocation"
                            [class.invalid]="
          !singleEventForm.controls.meetingGeolocation?.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>
                <ion-item id="meetingGeoMap">
                    <div id="mapMeeting" style="height:200px; width:100%;" slot="start"></div>
                </ion-item>

                <ion-item>
                    <ion-label
                            *ngIf="!singleEventForm.controls.meetingGeolocation?.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked>Meeting Time</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY HH:mm"
                                  pickerFormat="MMM DD, YYYY HH:mm"
                                  [min]="currentDate" max="2030"
                                  formControlName="meetingTime"
                                  [disabled]="viewMode"
                                  [class.invalid]="!singleEventForm.controls.meetingTime.valid && blur && !viewMode">

                    </ion-datetime>
                </ion-item>

                <!--isEventRequiresCars-->
                <ion-item>
                    <ion-label stacked>Are Cars Required?</ion-label>
                    <ion-checkbox formControlName="isEventRequiresCars" color="primary" checked="true"></ion-checkbox>
                </ion-item>

                <ion-item *ngIf="singleEventForm.value.isEventRequiresCars">
                    <ion-label stacked>Available seats</ion-label>
                    <ion-icon
                            name="car"
                            style="font-size: 1em;"
                            padding-end
                    ></ion-icon>
                    <ion-label *ngIf="event?.availableSeats && event?.availableSeats < 0" color="danger">OverBooked</ion-label>
                    <ion-label *ngIf="!(event?.availableSeats && event?.availableSeats < 0)">{{event?.availableSeats ? event?.availableSeats : '0'}} Available</ion-label>
                </ion-item>

                <ion-item>
                    <!--https://stackoverflow.com/questions/31907670/saving-the-val-return-from-ionic-datepicker-into-firebase-->
                    <ion-label stacked>Trip Start Time</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY HH:mm"
                                  pickerFormat="MMM DD, YYYY HH:mm"
                                  formControlName="routeStartTime"
                                  [min]="currentDate" max="2030"
                                  [class.invalid]="!singleEventForm.controls.routeStartTime.valid && blur && !viewMode">

                    </ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label
                            *ngIf="!singleEventForm.controls.routeStartLocation.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-button (click)="onPlusStartMap()" fill="clear">{{plusStartText}}</ion-button>
                    <ion-label stacked>Start location</ion-label>
                    <ion-input
                            formControlName="routeStartLocation"
                            type="text"
                            placeholder="Start location"
                            [class.invalid]="
          !singleEventForm.controls.routeStartLocation.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>

                <ion-item id="startGeo">
                    <ion-label
                            *ngIf="!singleEventForm.controls.routeStartGeolocation?.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked slot="start">Start Geolocation</ion-label>
                    <ion-input
                            formControlName="routeStartGeolocation"
                            type="text"
                            placeholder="Start geolocation"
                            [class.invalid]="
          !singleEventForm.controls.routeStartGeolocation?.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>
                <ion-item id="startGeoMap">
                    <div id="mapStart" style="height:200px; width:100%;" slot="start"></div>
                </ion-item>

                <ion-item>
                    <!--https://stackoverflow.com/questions/31907670/saving-the-val-return-from-ionic-datepicker-into-firebase-->
                    <ion-label stacked>Estimated Trip End Time</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY HH:mm"
                                  pickerFormat="MMM DD, YYYY HH:mm"
                                  formControlName="returnTime"
                                  [min]="currentDate" max="2030"
                                  [class.invalid]="!singleEventForm.controls.returnTime.valid && blur && !viewMode">

                    </ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label
                            *ngIf="!singleEventForm.controls.routeEndLocation.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-button (click)="onPlusEndMap()" fill="clear">{{plusEndText}}</ion-button>
                    <ion-label stacked>End location</ion-label>
                    <ion-input
                            formControlName="routeEndLocation"
                            type="text"
                            placeholder="End location"
                            [class.invalid]="
          !singleEventForm.controls.routeEndLocation.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>

                <ion-item id="endGeo" hidden>
                    <ion-label
                            *ngIf="!singleEventForm.controls.routeEndGeolocation.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked slot="start">End Geolocation</ion-label>
                    <ion-input
                            formControlName="routeEndGeolocation"
                            type="text"
                            placeholder="End geolocation"
                            [class.invalid]="
          !singleEventForm.controls.routeEndGeolocation.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>
                <ion-item id="endGeoMap">
                    <div id="mapEnd" style="height:200px; width:100%;" slot="start"></div>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Length (Km)</ion-label>
                    <ion-input
                            formControlName="lengthKM"
                            type="number"
                            placeholder="Length of route"
                            [class.invalid]="!singleEventForm.controls.lengthKM.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label
                            *ngIf="!singleEventForm.controls.shortDescription.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked>Short description</ion-label>
                    <ion-textarea
                            formControlName="shortDescription"
                            type="text"
                            placeholder="Short description"
                            row="2"
                            [class.invalid]="
          !singleEventForm.controls.shortDescription.valid && blur && !viewMode"
                    >
                    </ion-textarea>
                </ion-item>

                <!-- TODO: Add route ranking -->
                <ion-item>
                    <ion-label stacked>Long description</ion-label>
                    <ion-textarea
                            formControlName="longDescription"
                            type="longDescription"
                            placeholder="Long description"
                            rows="15"
                            [class.invalid]="
          !singleEventForm.controls.longDescription.valid && blur && !viewMode"
                    >
                    </ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label>Difficulty</ion-label>
                    <!--
                      TODO: MAYBE when moving from form to DB and when moving from object to form change it from number to string
                    -->
                    <ion-select formControlName="routeDifficulty" multiple="false">
                        <ion-select-option value="0">Very easy</ion-select-option>
                        <ion-select-option value="1">Easy</ion-select-option>
                        <ion-select-option value="2">Moderate</ion-select-option>
                        <ion-select-option value="3">Challenging</ion-select-option>
                        <ion-select-option value="4">Extreme</ion-select-option>
                        <ion-select-option value="5">Very extreme</ion-select-option>
                    </ion-select>
                </ion-item>
                <!-- TODO: ION-SECLET VIEWMODE -->
                <ion-item>
                    <ion-label stacked>Duration</ion-label>
                    <ion-row style="width: 80%" justify-content-end>
                        <ion-col size="2">
                            <ion-input
                                    formControlName="routeDuration"
                                    type="number"
                                    placeholder="Route duration"
                                    [class.invalid]="
              !singleEventForm.controls.routeDuration.valid && blur && !viewMode"
                                    min="0"
                                    max="59"
                                    step="1"
                                    side="left"
                            ></ion-input>
                        </ion-col>
                        <ion-col size="10">
                            <ion-select formControlName="routeDurationUnits" multiple="false">
                                <ion-select-option value="hours">Hours</ion-select-option>
                                <ion-select-option value="days">Days</ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                </ion-item>

                <!-- <ion-item> -->
                <!-- <ion-label stacked>Duration</ion-label> -->
                <!--
                  &lt;!&ndash;TODO: Allow usage of days -> translate to hours when translated to object, and translate to days if more than 24 hours when showing it&ndash;&gt;
                -->
                <!-- <ion-input -->
                <!-- formControlName="routeDuration" -->
                <!-- type="number" -->
                <!-- placeholder="Route duration" -->
                <!--
                  [class.invalid]="!singleEventForm.controls.routeDuration.valid && blur"
                -->
                <!-- &gt; -->
                <!-- </ion-input> -->
                <!-- <ion-select formControlName="routeDurationUnits" multiple="false"> -->
                <!-- <ion-select-option value="hours">Hours</ion-select-option> -->
                <!-- <ion-select-option value="days">Days</ion-select-option> -->
                <!-- </ion-select> -->
                <!-- </ion-item> -->

                <ion-item>
                    <ion-label>Route Properties</ion-label>
                    <ion-select formControlName="routeProperties" multiple="true">
                        <ion-select-option value="water">Water</ion-select-option>
                        <ion-select-option value="swimming">Swimming</ion-select-option>
                        <ion-select-option value="mountains" selected>Mountains</ion-select-option>
                        <ion-select-option value="bicycles">Bicycles</ion-select-option>
                        <ion-select-option value="forest">Forest</ion-select-option>
                        <ion-select-option value="desert">Desert</ion-select-option>
                        <ion-select-option value="oasis">Oasis</ion-select-option>
                        <ion-select-option value="historical">Historical</ion-select-option>
                        <ion-select-option value="archeology">Archeology</ion-select-option>
                        <ion-select-option value="ropes">Ropes</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <!--
                      TODO: URGENT  make sure we set the eventOrganizerId upon creation of route, and that also fetching the user into eventOrganizer for teh component
                    -->
                    <ion-label stacked>Creator of event: {{ (event?.eventOrganizer | async)?.firstName }}
                        {{ (event?.eventOrganizer | async)?.lastName }}</ion-label>
                    <!-- TODO show photo of creator -->
                    <ion-label stacked *ngIf="(event?.eventOrganizer | async)?.isGuide">Event organizer is a travel-guide :)
                    </ion-label>
                    <!--ion-input
                            formControlName="organizerContactDetails"
                            type="text"
                            placeholder="Event-Organizer Contact Details (optional email and/or phone)"
                            [class.invalid]="
          !singleEventForm.controls.organizerContactDetails.valid && blur && !viewMode"
                    >
                    </ion-input-->
                </ion-item>
                <ion-item *ngIf="(event?.eventOrganizer | async)?.isGuide">
                    <ion-label stacked>Is it a guided trip?</ion-label>
                    <ion-checkbox
                            formControlName="isGuidedEvent"
                            color="primary"
                            checked="false"
                    ></ion-checkbox>
                    <ion-label stacked>Price per person (US$)</ion-label>
                    <ion-input
                            formControlName="priceOfEvent"
                            type="number"
                            placeholder="Price each traveler should pay you"
                            [class.invalid]="!singleEventForm.controls.priceOfEvent.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Entrance fee (US$)</ion-label>
                    <ion-input
                            formControlName="entranceFee"
                            type="number"
                            placeholder="Entrance fee"
                            [class.invalid]="!singleEventForm.controls.entranceFee.valid && blur && !viewMode"
                    >
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label
                            *ngIf="!singleEventForm.controls.requiredEquipment.valid && !viewMode"
                            color="danger"
                            stacked
                    >*
                    </ion-label>
                    <ion-label stacked>Required equipment</ion-label>
                    <ion-textarea
                            formControlName="requiredEquipment"
                            type="text"
                            placeholder="Required equipment"
                            rows="4"
                            [class.invalid]="
          !singleEventForm.controls.requiredEquipment.valid && blur && !viewMode"
                    >
                    </ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label stacked>#Events created from same route
                        before:{{ (eventObs|async)?.numEventsCreatedFromRoute }}</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>Audience type</ion-label>
                    <ion-select formControlName="audienceType" multiple="true">
                        <ion-select-option *ngFor="let item of audienceTypeEnum"
                                           value="{{item.value}}">{{item.key}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Recommended months for this route: {{(eventObs|async)?.recommendedMonths}}</ion-label>
                </ion-item>

                <ion-item *ngIf="joined && isApprovedForTrip && !isOrganizerOfTrip" >
                    <div style="background-color: #10dc60">
                        <ion-label>You are registered and approved for this trip :-)</ion-label>
                    </div>
                </ion-item>
                <ion-item *ngIf="joined && !isApprovedForTrip">
                    <div style="background-color: #ffd31a">
                        <ion-label >Your still pending for approval of the organizer of this trip</ion-label>
                    </div>
                </ion-item>
                <ion-item *ngIf="isOrganizerOfTrip">
                    <div style="background-color: fuchsia;">
                        <ion-label >Your are the organizer{{event?.isGuidedEvent?' and guide': ''}} of this trip</ion-label>
                    </div>
                </ion-item>



            </form>
        </ion-col>
        <ion-col [size]="4">
            <!-- trip-photos -->
            <ion-item >
                <div style="display: inline-block;">
                    <ion-label id="previewOldPhotos">
                        <div *ngFor="let routeUrl of event?.imagesUrls; let i = index" float-left>
                            <app-route-image [imgPath]="routeUrl+'_Large'" sizeToLoad="Large" width="400" height="300"
                                             [number]="i" *ngIf="photoIndex === i"></app-route-image>
                        </div>
                    </ion-label>
                    <input
                            type="file"
                            accept="image/*"
                            (change)="onImageSelected($event)"
                            id="selectedImage"
                            style="display: none;"
                    />
                    <ion-button
                            float-left
                            onclick="document.getElementById('selectedImage').click();"
                            *ngIf="!viewMode">
                        Add trip photos
                    </ion-button>
                    <ion-button float-right
                                (click)="photoIndex < event?.imagesUrls.length-1 ? photoIndex=photoIndex+1 : photoIndex=0" *ngIf="event?.imagesUrls?.length>0">
                        >
                    </ion-button>
                    <ion-button float-right
                                (click)="photoIndex >0  ? photoIndex=photoIndex-1 : photoIndex=event?.imagesUrls.length-1" *ngIf="event?.imagesUrls?.length>0">
                        <
                    </ion-button>
                </div>
            </ion-item>
            <ion-item *ngIf="selectedPhotos?.length>0">
                <div style="display: inline-block;">
                    <ion-label >New photos:</ion-label>
                    <ion-label id="previewPhotos">
                    </ion-label>
                </div>
            </ion-item>

            <!-- map-photos -->
            <ion-item >
                <div style="display: inline-block;">
                    <ion-label id="previewOldMapPhotos">
                        <div *ngFor="let routeUrl of event?.mapImagesUrl; let i = index" float-left>
                            <app-route-image [imgPath]="routeUrl+'_Large'" sizeToLoad="Large" width="400" height="300"
                                             [number]="i" *ngIf="photoMapIndex === i"></app-route-image>
                        </div>
                    </ion-label>
                    <input
                            type="file"
                            accept="image/*"
                            (change)="onMapImageSelected($event)"
                            id="selectedMapImage"
                            style="display: none;"
                    />
                    <ion-button
                            float-left
                            onclick="document.getElementById('selectedMapImage').click();"
                            *ngIf="!viewMode">
                        Add trip map
                    </ion-button>
                    <ion-button float-right
                                (click)="photoMapIndex < event?.mapImagesUrl.length-1 ? photoMapIndex=photoMapIndex+1 : photoMapIndex=0"  *ngIf="event?.mapImagesUrl?.length>0">
                        >
                    </ion-button>
                    <ion-button float-right
                                (click)="photoMapIndex >0  ? photoMapIndex=photoMapIndex-1 : photoMapIndex=event?.mapImagesUrl.length-1"
                                *ngIf="event?.mapImagesUrl?.length>0">
                        <
                    </ion-button>

                </div>
            </ion-item>
            <ion-item *ngIf="selectedMapsPhotos?.length>0">
                <div style="display: inline-block;">
                    <ion-label >New maps:</ion-label>
                    <ion-label id="previewMapPhotos">
                    </ion-label>
                </div>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-item>
        <ion-label>Participants:</ion-label>
    </ion-item>
    <ion-item>
        <ion-grid style="width: 90%">
            <ion-row >
                <ion-col size="2">
                    Participant
                </ion-col>
                <ion-col size="2">
                    Contact
                </ion-col>
                <ion-col size="2">
                    Cars
                </ion-col>
                <ion-col size="2">
                    Ranking
                </ion-col>
                <ion-col size="2">
                    Equipment I bring
                    <!--{{(participantsObs.needSeatInCar && !participantsObs.userIdOfHostingCar) ? 'Need a ride': (participantsObs.needSeatInCar && participantsObs.userIdOfHostingCar)? 'with' + participantsObs.userIdOfHostingCar : participantsObs.offeringSeatsInCar? 'Offers ' + participantsObs.offeringSeatsInCar + ' free seats'}}-->
                </ion-col>
                <ion-col size="2">
                    Joining?
                    <!--{{(participantsObs.needSeatInCar && !participantsObs.userIdOfHostingCar) ? 'Need a ride': (participantsObs.needSeatInCar && participantsObs.userIdOfHostingCar)? 'with' + participantsObs.userIdOfHostingCar : participantsObs.offeringSeatsInCar? 'Offers ' + participantsObs.offeringSeatsInCar + ' free seats'}}-->
                </ion-col>
            </ion-row>
            <participants-lines
                    [eventObs]="eventObs"
                    [isApprovedLines]="true"
                    [isOrganizerMode]="isOrganizerOfTrip && !isPastEvent && !viewMode"
                    [event]="event"
                    [eventID]="id"
                    [currentUserId]="currentUser?.id"
                    [isPastEvent]="isPastEvent"
                    [isUserApproved]="isApprovedForTrip"
                    (updated)="onUpdatesOfParticipants()"
                    (editParticipant)="onEditParticipant($event)"
            ></participants-lines>
            <participants-lines
                    [eventObs]="eventObs"
                    [isApprovedLines]="false"
                    [isOrganizerMode]="isOrganizerOfTrip && !isPastEvent && !viewMode"
                    [event]="event"
                    [eventID]="id"
                    [currentUserId]="currentUser?.id"
                    [isPastEvent]="isPastEvent"
                    [isUserApproved]="isApprovedForTrip"
                    (updated)="onUpdatesOfParticipants()"
                    (editParticipant)="onEditParticipant($event)"
            ></participants-lines>
        </ion-grid>
    </ion-item>
    <ion-item *ngIf="singleEventForm.value.isEventRequiresCars">
        <ion-label stacked>Available seats</ion-label>
        <ion-icon
                name="car"
                style="font-size: 1em;"
                padding-end
        ></ion-icon>
        <ion-label *ngIf="event?.availableSeats && event?.availableSeats < 0" color="danger">OverBooked</ion-label>
        <ion-label *ngIf="!(event?.availableSeats && event?.availableSeats < 0)">{{event?.availableSeats ? event?.availableSeats : '0'}} Available</ion-label>
    </ion-item>
    <ion-item *ngIf="isOrganizerOfTrip && totalPendingForEvent">
        <ion-label style="background-color: #e0b500">{{totalPendingForEvent}} participants are waiting for your approval!</ion-label>
    </ion-item>
    <ion-button *ngIf="!isPastEvent && !joined && event?.eventOrganizerId !== currentUser?.id && !isNewEvent" id='join' (click)="onJoinEvent()">Join</ion-button>
    <ion-button *ngIf="!isPastEvent && joined && event?.eventOrganizerId !== currentUser?.id && !isNewEvent" id='leave' (click)="onLeaveEvent()">Leave</ion-button>
    <ion-button *ngIf="isPastEvent && joined" id='rankEvent' (click)="rankEvent()">Rank Route and Participants</ion-button>
    <!-- <ion-button *ngIf="!isPastEvent && !viewMode && !isNewEvent" id='approve' (click)="onApprove()">Approve Participants</ion-button> -->
    <ion-button *ngIf="!isPastEvent && !viewMode" id='save' [disabled]="!singleEventForm.valid" (click)="updateEvent(true)">Save</ion-button><!--TODO change label if you create new-->
    <ion-button *ngIf="!isPastEvent && !viewMode && !isNewEvent" id='delete' (click)="onDelete()">Delete</ion-button>
</ion-content>
