<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> <ion-back-button defaultHref=""></ion-back-button> </ion-buttons>
    <ion-title>OutSurfing Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding no-bounce text-center fullscreen>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

      <ion-item>
      <ion-label *ngIf="!signupForm.controls.email.valid" color="danger" stacked>*</ion-label>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && blur">
      </ion-input>
    </ion-item>
      <ion-label color="danger" class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched" >
        Please enter a valid email.
      </ion-label>

    <ion-item>
      <ion-label *ngIf="!signupForm.controls.password.valid" color="danger" stacked>*</ion-label>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && blur">
      </ion-input>
    </ion-item>
    <ion-label color="danger" class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched" >
      Your password needs more than 6 characters.
    </ion-label>

    <ion-item>
      <ion-label *ngIf="!signupForm.controls.firstName.valid" color="danger" stacked>*</ion-label>
      <ion-label stacked>First Name</ion-label>
      <ion-input formControlName="firstName" type="text" placeholder="Your first name">
      </ion-input>


      <ion-label *ngIf="!signupForm.controls.lastName.valid" color="danger" stacked>*</ion-label>
      <ion-label stacked>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" placeholder="Your last name">
      </ion-input>
    </ion-item>
    <ion-label color="danger" class="error-message" *ngIf="!signupForm.controls.firstName.valid && signupForm.controls.firstName.touched" >
      You must fill a first name.
    </ion-label>
    <ion-label color="danger" class="error-message" *ngIf="!signupForm.controls.lastName.valid && signupForm.controls.lastName.touched" >
      You must fill a last name.
    </ion-label>

    <ion-item>
      <ion-label *ngIf="!signupForm.controls.phone.valid" color="danger" stacked>*</ion-label>
      <ion-label stacked>Phone number</ion-label>
      <ion-input formControlName="phone" type="tel" placeholder="Your phone number">
      </ion-input>
    </ion-item>
    <ion-label color="danger" class="error-message" *ngIf="!signupForm.controls.phone.valid && signupForm.controls.phone.touched" >
      Your phone can contain only numeric value
    </ion-label>

    <ion-item>
      <ion-label stacked>Birth date</ion-label><!--TODO add a better web date picker-->
      <ion-datetime formControlName="birthDate" displayFormat="MM DD YYYY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="isGuide">
        <ion-select-option value="0" selected>Male</ion-select-option>
        <ion-select-option value="1">Female</ion-select-option>
        <ion-select-option value="2">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Guide</ion-label>
      <ion-checkbox formControlName="isGuide" color="primary" checked="false"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Trips Difficulties</ion-label>
      <ion-select formControlName="tripDifficulties" multiple="true">
        <ion-select-option value="0">Very easy</ion-select-option>
        <ion-select-option value="1">Easy</ion-select-option>
        <ion-select-option value="2" selected>Moderate</ion-select-option>
        <ion-select-option value="3">Challenging</ion-select-option>
        <ion-select-option value="4">Extreme</ion-select-option>
        <ion-select-option value="5">Very extreme</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Trips Duration</ion-label>
        <!--ion-range dual-knobs="true" formControlName="tripDurations" min="0.04" max = ""></ion-range-->
      <ion-select formControlName="tripDurations" multiple="true">
        <ion-select-option value="365">Few days</ion-select-option>
        <ion-select-option value="2">Camp+hike</ion-select-option>
        <ion-select-option value="1" selected>Full day</ion-select-option>
        <ion-select-option value="0.5">Few hours</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Audience type </ion-label>
        <ion-select formControlName="audienceTypes" multiple="true">
          <ion-select-option *ngFor="let item of audienceTypeEnum" value="{{item.value}}">{{item.key}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>About myself</ion-label>
      <ion-input formControlName="about" type="text" placeholder="Your about">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked slot="start">Location</ion-label>
    </ion-item>
    <ion-item>
      <div id="map" style="height:200px; width:100%;" slot="start"></div>
    </ion-item>







    <ion-button block type="submit" [disabled]="!signupForm.valid" >
      Create an Account
    </ion-button>
  </form>
</ion-content>
