// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//.surf-big-modal-css .modal-wrapper {
.surf-big-modal-css  .modal-wrapper{

    //height: 20%;
  //top: 80%;
  width: 80% !important;
  height: 80% !important;
  //height: 20%;
  //top: 80%;
  //position: absolute;
  display: block;

  //position: absolute;
  //display: block;
}